---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Steven Kugies" description="About Steven Kugies" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Steven</h1>
			<div class="heroImg">
			
			</div>
			<div class="bio wrapper">
			
			

				<p>
				
				My name is Steven Kugies, I'm a game developer based in the greater Seattle area. My primary areas of interests are in AI and game engines but I do enjoy dabbling in other areas as well. Making games has been my dream job for as long as I can remember. 
				
				</p>

		
			</div>
		</div>
		<Footer />
	</body>
</html>
